.display-box{
    width: 100%;
    height:  fit-content;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.ground{
    display: flex;
    flex-direction: row;
    width: 300px;
    height: fit-content;
    background-color: aliceblue;
    justify-content: space-around;
    
}

.ground > h3{
    align-self: center;
    font-size: xx-large;
    
}

.ground > hr {
    margin: 0;
    padding: 0;
 
}

.controller{

    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 10%;
    
}

button{
    border: 1px outset blue;
    background-color: lightBlue;
    height:70px;
    width:70px;
    cursor:pointer;
 }
 
 button:hover {
    background-color: blue;
    color:white;
 }

 h1{
    font-size: xx-large;
    text-align: center;
    color: blue;
 }

 .play-btn{

    margin: 0;
    padding: 0;
    text-align: center;
    background-color: red;
    width: 100px;
    height: 100px;
    border: solid;
    border-radius: 25%;
    margin-left: 45%;
    color: white;
  
 }

 #play-again-button{
    display: none;
 }
